<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <input type="text" name="nombre" [(ngModel)]="curso.nombre"  placeholder="Nombre" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <textarea  name="description" [(ngModel)]="curso.description" placeholder="Descripcion" rows="2" class="form-control" ></textarea>
                </div>
                <div class="form-group">
                    <input type="url" name="image" [(ngModel)]="curso.image" placeholder="Imagen" class="form-control" >
                </div>
                <button class="btn btn-success btn-block" (click)="edit ?  updateCurso() :  saveCurso()">
                    Guardar
                </button>
            </form>
        </div>
    
    </div>
</div>

<div class="col-md-4">
    <div class="card card-body text-center">
        <img [src]="curso.image == '' ? '/assets/noimagen.png' : curso.image"  class="card-img-top">
        <h3>{{curso.nombre}}</h3>
        <p>{{curso.description}}</p>
        
    </div>
</div>